<footer class="flex justify-between bg-[#0A0A0A] font-sans p-10 xl:p-16">
    <div class="flex flex-col gap-8">
      <h1 class="text-[#7DF4FF] ">VIVE_PULSE</h1>
      <p class="text-gray-400">lorem ipsum dolor sit amet lorem ipsum<br> dolor sit amet lorem ipsum dolor sit amet <br>
        lorem ipsum dolor sit amet</p>
        <div class="flex gap-2">
        <a><img src="/assets/gambar/footer/ig.png" alt="Instagram" class="w-8 h-6"></a>
        <a><img src="/assets/gambar/footer/email.png" alt="Instagram" class="w-6 h-5"></a>
        </div>
    </div>
    <div class="flex gap-8">
      <ul class="text-gray-400 flex flex-col gap-2">
        <li><a href="">EXPLORE</a></li>
        <li><a href="">Schedule</a></li>
        <li><a href="">Artists</a></li>
        <li><a href="">Venues</a></li>
      </ul>

       <ul class="text-gray-400 flex flex-col gap-2">
        <li><a href="">SUPPORT</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Contact</a></li>
      </ul>

       <ul class="text-gray-400 flex flex-col gap-2">
        <li><a href="">LEGAL</a></li>
        <li>© 2026 VIBE_PULSE. ALL<br> NIGHTS RESERVED.</li>
      
      </ul>
    </div>
</footer>