
<section class="h-[1000px] bg-cover bg-center" style="background-image: url('/assets/gambar/heroSection/KonserCover.jpg');">
  <div class="flex flex-col text-[#7DF4FF] pl-20 pt-[525px]  font-semibold">
    <span class=" text-xl font sans-serif ">
      Lorem ipsum dolor sit
    </span>
    <span class=" text-6xl upppercase w-[800px]">
      amet consectetur : elit adipisicing.
    </span>

    <div class="flex justify-content ">
      <button class="flex justify-content bg-[#7DF4FF] text-black px-10 py-3 rounded-md mt-8 hover:scale-105 transition-transform duration-300">
        Buy Tickets 
        <img src="/assets/gambar/heroSection/ticket-simple-solid.png" alt="Tiket konser" class="w-6 h-6 ml-2"/>
      </button>

      <button class="flex justify-content bg-transparent border border-[#7DF4FF] text-[#7DF4FF] px-10 py-3 rounded-md mt-8 ml-4 hover:scale-105 transition-transform duration-300">
        Learn More
    </div>
  </div>
</section>
