<section id="hero" class="h-[980px] bg-cover bg-center text-[#7DF4FF]" >
  <div class="flex flex-col  pl-20 pt-[575px]  font-semibold">
    <span id="event-category" class="text-xl font-sans ">
    </span>
    <span id="event-title" class="text-5xl font-bold uppercase w-[800px]">
    </span>

    <div class="flex items-center justify-content gap-6 mt-4">
      <span id="date" class="text-lg flex items-center justify-content ]">
        <img src="/assets/gambar/heroSection/calendar-days-regular.png" alt="Kalender" class="w-6 mr-2"/>
      </span>
      <span id="location" class="flex items-center justify-content text-lg">
        <img src="/assets/gambar/heroSection/location-dot-solid.png" alt="Lokasi" class="w-6 mr-2"/>
      </span>
    </div>

    <div class="flex justify-content ">
      <button id="buy-tickets" class="flex justify-content bg-[#7DF4FF] text-black px-10 py-3 rounded-md mt-8 hover:scale-105 
      transition-transform duration-300">
        Buy Tickets 
        <img src="/assets/gambar/heroSection/ticket-simple-solid.png" alt="Tiket konser" class="w-6 h-6 ml-2"/>
      </button>

      <button id="learn-more" class="flex justify-content bg-transparent border border-[#7DF4FF] text-[#7DF4FF] px-10 py-3 rounded-md mt-8 ml-4 hover:scale-105 transition-transform duration-300">
        Learn More
      </button>
    </div>
  </div>
</section>