

<navbar class="flex w-full h-16 justify-between items-center bg-[#0A0A0A] text-[#7DF4FF] px-8 xl:px-16 font-">
    <div class="">
        h1>VIBE_PULSE</h1>
    </div>

    <div class=" justify-center  ">
        <ul class="flex gap-8 text-md font-semibold">
            <li class="h-8 hover:h-8 hover:border-b-2 hover:border-[#7DF4FF] hover:scale-104 transition-transform duration-300">
                <a>Schedule</a>
            </li>
            <li class=" h-8 hover:h-8 hover:border-b-2 hover:border-[#7DF4FF] hover:scale-104 transition-transform duration-300">
                <a>Artists</a>
            </li>
            <li class=" h-8 hover:h-8 hover:border-b-2 hover:border-[#7DF4FF] hover:scale-104 transition-transform duration-300">
                <a>Venues</a>
            </li>
            <li class=" h-8 hover:h-8 hover:border-b-2 hover:border-[#7DF4FF] hover:scale-104 transition-transform duration-300">
                <a>Tickets</a>
            </li>
        </ul>
        </div>

        <div class="flex items-center gap-4">
            <div>
              <form action="" method="get" class="flex items-center p-2  border-1 border-gray-600">
              <input type="text" name="search" placeholder="Search events..">
              </form>
            </div>
        

        <div class="hover-cursor-pointer hover:scale-108 transition-transform duration-300 hover:shadow-md hover:shadow-[#7DF4FF] rounded-full">
         <img src="/assets/gambar/nav/akun.png" alt="logo_akun" class="w-10 h-10 text-7DF4FF">
        </div>
        </div>
</navbar>
